.homepage-box {
  width: 500px;
  height: 100px;
  margin-top: 40px;
  margin-left: 455px;
  display: flex;
  align-items: center;
  background-color: aliceblue;
  border: 2px solid pink;
  border-radius: 20px;
  position: relative;
}

.homepage-box h2 {
  position: absolute;
  top: -33px;
  left: 25%;
  font-size: 25px;
}

.homepage-box img {
  width: 70px;
  height: 70px;
  z-index: 5;
}

.chrome,
.naver,
.youtube,
.nomad {
  width: 25%;
  display: flex;
  justify-content: center;
}